@font-face {
	font-family: 'Gill';
	src: url('../fonts/GillSansMT.eot');
	src: url('../fonts/GillSansMT.eot?#iefix') format('embedded-opentype'),
		url('../fonts/GillSansMT.woff') format('woff'),
		url('../fonts/GillSansMT.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Roman Regular';
	src: url('../fonts/HelveticaNeueLT-Roman.eot');
	src: url('../fonts/HelveticaNeueLT-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLT-Roman.woff') format('woff'),
		url('../fonts/HelveticaNeueLT-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Bold Condensed';
	src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Medium Condensed';
	src: url('../fonts/HelveticaNeueLTStd-MdCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-MdCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-MdCn.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-MdCn.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Light Condensed';
	src: url('../fonts/HelveticaNeueLTStd-LtCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-LtCn.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-LtCn.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-LtCn.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Thin 35';
	src: url('../fonts/HelveticaNeueLTStd-Th.eot');
	src: url('../fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-Th.ttf') format('truetype');
	font-weight: 100;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Medium 65';
	src: url('../fonts/HelveticaNeueLTStd-Md.eot');
	src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-Md.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Bold 75';
	src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
	src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-Bd.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Black 95';
	src: url('../fonts/HelveticaNeueLTStd-Blk.eot');
	src: url('../fonts/HelveticaNeueLTStd-Blk.eot?#iefix') format('embedded-opentype'),
		url('../fonts/HelveticaNeueLTStd-Blk.woff') format('woff'),
		url('../fonts/HelveticaNeueLTStd-Blk.ttf') format('truetype');
	font-weight: 900;
	font-style: normal;
}














