@font-face {
	font-family: 'Helvetica Bold Condensed';
	src: url('../fonts/HelveticaNeueLTStd-BdCn.eot');
	src: url('../fonts/HelveticaNeueLTStd-BdCn.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/HelveticaNeueLTStd-BdCn.woff') format('woff'),
		 url('../fonts/HelveticaNeueLTStd-BdCn.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}