@mixin displayLeft(){
	position: relative;
	float: left;
	display: inline-block;
	vertical-align: middle;
	zoom: 1; /* Fix for IE7 */
	*display: inline; /* Fix for IE7 */
}

@mixin transitions($class, $timing, $ease){
	-webkit-transition: $class $timing $ease;
	   -moz-transition: $class $timing $ease;
	    -ms-transition: $class $timing $ease;
	     -o-transition: $class $timing $ease;
	        transition: $class $timing $ease;
}

@mixin opacity($val){
	opacity: $val;
	filter: alpha(opacity=($val * 100));
	filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=($val * 100));
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(($val * 100))';
}

@mixin dropShadow($Xdrop, $Ydrop, $blur){
	-webkit-box-shadow: $Xdrop $Ydrop $blur rgba(0,0,0,0.25);
	   -moz-box-shadow: $Xdrop $Ydrop $blur rgba(0,0,0,0.25);
			box-shadow: $Xdrop $Ydrop $blur rgba(0,0,0,0.25);
}

@mixin roundBorder($val){
	-webkit-border-radius: $val;
	   -moz-border-radius: $val;
			border-radius: $val;
}

@mixin boxFit(){
	-webkit-box-sizing: border-box;
  	   -moz-box-sizing: border-box;
  			box-sizing: border-box;
}

@mixin smoothFont(){
	-webkit-font-smoothing: antialiased;
	   -moz-font-smoothing: antialiased;
	    -ms-font-smoothing: antialiased;
	     -o-font-smoothing: antialiased;
	        font-smoothing: antialiased;
}

@mixin bgGradientRed(){
	background: rgba(200,36,63,1);
	background: -moz-linear-gradient(left, rgba(200,36,63,1) 0%, rgba(149,21,42,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(200,36,63,1)), color-stop(100%, rgba(149,21,42,1)));
	background: -webkit-linear-gradient(left, rgba(200,36,63,1) 0%, rgba(149,21,42,1) 100%);
	background: -o-linear-gradient(left, rgba(200,36,63,1) 0%, rgba(149,21,42,1) 100%);
	background: -ms-linear-gradient(left, rgba(200,36,63,1) 0%, rgba(149,21,42,1) 100%);
	background: linear-gradient(to right, rgba(200,36,63,1) 0%, rgba(149,21,42,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c8243f', endColorstr='#95152a', GradientType=1 );
}

@mixin bgGradientGray(){
	background: #626262; /* For browsers that do not support gradients */
    background: -webkit-radial-gradient(#a2a2a2, #626262); /* Safari 5.1 to 6.0 */
    background: -o-radial-gradient(#a2a2a2, #626262); /* For Opera 11.6 to 12.0 */
    background: -moz-radial-gradient(#a2a2a2, #626262); /* For Firefox 3.6 to 15 */
    background: radial-gradient(#a2a2a2, #626262); /* Standard syntax */
}