@import 'mixins';
@import 'fonts';

	
// Variables
$mainWidth: 1200px;
$mainColour: #fff;
$mainRed: #c8243f;
$homeBGC: #e2c3a7;
$storyBGC: #000;

// Animatables
.toFadeIn{
	@include opacity(0);
	-webkit-transform: translateY(10px);
	   -moz-transform: translateY(10px);
	    -ms-transform: translateY(10px);
	     -o-transform: translateY(10px);
	        transform: translateY(10px);
}
.smoothTrans{
	@include transitions(all, 0.4s, ease-out);
}

#loader{
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 1000000000000000000;
	overflow: hidden;
	@include bgGradientRed();
	@include transitions(all, 0.6s, ease-out);

	.logoIntro{
		position: absolute;
		width: 826px;
		height: 276px;
		margin: auto;
		top: 0; bottom: 0; left: 0; right: 0;
	}

	.loadingDots{
		list-style-type: none;
		position: absolute;
		width: 170px;
		height: 36px;
		margin: auto;
		left: 0; right: 0;
		top: 450px; bottom: 0;
		padding: 0;
	}

	.isoDots{
		position: relative;
		float: left;
		margin: 0 10px;
		@include opacity(0.1);
		@include transitions(opacity, 1.4s, ease-out);
	}

	.active{
		@include opacity(1);
	}
}

.lb_crystal{@include opacity(0);}
.lb_hide{display: none;}

.homeYield{
	background: $homeBGC;

	#mainNavigator{
		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(1);
					}
					.whiteLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}


.storyYield-0{
	background: #000;

	#mainNavigator{
		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}
.storyYield-1{
	background: #fafaf1;

	#mainNavigator{
		@include bgGradientRed();

		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}


.doYield{
	@include bgGradientGray();

	#mainNavigator{
		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}

.servicesYield{
	@include bgGradientGray();

	#mainNavigator{
		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}

.toolsYield{
	@include bgGradientRed();
	color: #fff;

	#mainNavigator{
		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}


.teamYield-0, .teamYield-2{
	background: #000;

	#mainNavigator{
		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}
.teamYield-1{
	background: #fff;

	#mainNavigator{
		ul{
			li{
				a{
					color: #000;
				}
			}
			
			.mainLogo{
				a{
					.whiteLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid #000;
				}
			}
		}
	}
}


.lovemarkYield-0, .lovemarkYield-3 {
	@include bgGradientGray();
	color: #fff;

	#mainNavigator{
		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}
.lovemarkYield-1{
	background: #000;
	color: #fff;

	#mainNavigator{
		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}
.lovemarkYield-2{
	@include bgGradientRed();
	color: #fff;

	#mainNavigator{
		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}


.clientsYield{
	background: #fff;
	color: #000;

	#mainNavigator{
		ul{
			li{
				a{
					color: #000;
				}
			}
			
			.mainLogo{
				a{
					.whiteLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid #000;
				}
			}
		}
	}
}

.contactYield{
	@include bgGradientGray();

	#mainNavigator{
		ul{
			li{
				a{
					color: $mainColour;
				}
			}
			
			.mainLogo{
				a{
					.blackLB{
						@include opacity(0);
					}
				}
			}
			.mainTitles{
				a{
					border-right: 2px solid $mainColour;
				}
			}
		}
	}
}

#mbrtWrap{
	z-index: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: scroll;

	#videoWrapper{
		position: absolute;
		z-index: 10000000000;
		width: 100%;
		height: 100%;
		background: #000;
		@include transitions(all, .6s, ease-out);

		.videoContainer{
			position: absolute;
			width: 1200px;
			height: 675px;
			margin: auto;
			top: 0; bottom: 0; left: 0; right: 0;
		}
	}


	#mainNavigator{
		z-index: 1000000000;
		position: absolute;
		width: 100%;
		height: 100px;
		margin: auto; 
		right: 0; left: 0;
		top: 40px;
		font-family: 'Helvetica Bold Condensed';
		font-size: 15px;
		@include smoothFont();
		// @include bgGradientRed();
		
		ul{
			position: absolute;
			width: $mainWidth;
			height: 100%;
			margin: auto;
			left: 50px; right: 0;
			padding: 0;

			li{
				@include displayLeft();
				text-transform: uppercase;
				
				a{
					display: block;
					text-decoration: none;
					@include transitions(all, 0.4s, ease-out);
				}
			}

			.mainLogo{
				width: 275px;
				height: 100%;

				a{
					position: absolute;
					width: 230px;
					height: 62px;
					margin: auto;
					top: 0; bottom: 10px; left: 0; right: 0;

					img{
						position: absolute;
						width: 230px;
						height: 62px;
						@include transitions(opacity, 0.4s, ease-out);
					}
				}
			}

			.mainTitles{
				height: 30px;
				top: 37px;
				overflow: hidden;
				
				a{
					position: relative;
					height: 30px;
					padding: 0 18px;
				}
			}

			.oneLine{
				a{
					line-height: 33px;
				}
			}
			.doubleLine{
				a{
					line-height: 16px;
				}
			}

			.lastNav{
				a{
					border: none;
				}
			}

			.revealOptns{
				@include transitions(all, 0.4s, ease-out);

				&:hover{
					height: 155px;
				}

				.hiddenOptns{
					width: 131px;
					margin-top: 25px;
					margin-left: auto;
					margin-right: auto;

					a{
						width: 95px;
						height: 35px;
						line-height: 38px;
						margin-bottom: 8px;
						border: none;
						color: #fff;
						text-align: center;
						@include roundBorder(4px);
						@include bgGradientGray();
						@include dropShadow(6px, 8px, 20px);
						@include opacity(1);
						@include transitions(all, 0.3s, ease-out);
					}
					.hiddenService{
						&:hover{
							@include bgGradientRed();
						}
					}
					.hiddenTool{
						&:hover{
							background: #000;
						}
					}
				}
			}
		}
	}

	#yield{
		z-index: 1;
		position: absolute;
		width: $mainWidth;
		height: 100%;
		margin: auto;
		left: 0; right: 0; 
		// overflow: hidden;
		@include boxFit();

		.yieldedWrapper{
			position: absolute;
			width: 100%;
			height: 100%;
			min-height: 780px;
			list-style: none;

			ul{
				list-style: none;
				padding: 0;
			}

			.pageSlider{
				position: absolute;
				width: 100%;
				height: 100%;

				.slides{
					position: absolute;
					width: 100%;
					height: 100%;
					@include boxFit();
		   			display: none;
				}

				.activeSlide{
					display: block;
					@include opacity(1);
					-webkit-transform: translateX(0);
					   -moz-transform: translateX(0);
					    -ms-transform: translateX(0);
					     -o-transform: translateX(0);
					        transform: translateX(0);
			    }
				.right{
					@include opacity(0);
					-webkit-transform: translateX(100%);
					   -moz-transform: translateX(100%);
					    -ms-transform: translateX(100%);
					     -o-transform: translateX(100%);
					        transform: translateX(100%);
			    }
				.left{
					@include opacity(0);
					-webkit-transform: translateX(-100%);
					   -moz-transform: translateX(-100%);
					    -ms-transform: translateX(-100%);
					     -o-transform: translateX(-100%);
					        transform: translateX(-100%);
			    }
			}
		}


		#homeWrapper{
			background-color: $homeBGC;
			background-image: url('../img/bgs/bg_heart.jpg');
			background-position: bottom;
			background-repeat: no-repeat;

			.slidesjs-pagination{
				width: 130px;
			}

			.pageSlider{
				.slide-0{

					.quoteBox{
		   				line-height: 100px;

						.singleQuote{font-size: 132px;}
						.subQuote{font-size: 70px;}
					}
				}
				.slide-1{

					.quoteBox{
		   				line-height: 75px;

						.singleQuote{font-size: 90px;}
						.subQuote{font-size: 47px;}
					}
				}
				.slide-2{

					.quoteBox{
						line-height: 34px;

						.doubleQuote{
							line-height: 32px;
							.firstLine{font-size: 64px;}
							.secondLine{font-size: 51px;}
						}
						.subQuote{font-size: 43px;}
					}
				}


				.slides{
					.quoteBox{
		   				position: absolute;
		   				width: 380px;
		   				height: 176px;
		   				margin: auto;
		   				top: 400px;
		   				right: 120px;
		   				text-transform: uppercase;
		   				@include heartBeating();

		   				.mainQuote{
		   					color: $mainRed;
		   					font-family: 'Lato', sans-serif;
		   					white-space: nowrap;
		   					text-align: right;
		   					float: right;
		   				}

		   				.subQuote{
			   				color: #fff;
		   					font-family: 'Helvetica Roman Regular', sans-serif;
		   					white-space: nowrap;
		   					text-align: right;
		   					float: right;
		   				}
		   			}
				}
			}



			.socialLinks{
				z-index: 10;
				position: absolute;
				width: 245px;
				height: 36px;
				right: 120px;
				bottom: 135px;
				text-align: center;
				text-transform: uppercase;
				overflow: hidden;

				li{
					float: left;
					height: 100%;
					@include opacity(1);
					@include roundBorder(3px);
					@include transitions(all, 0.3s, ease-out);

					&:hover{
						@include opacity(0.6);
					}

					a{
						display: block;
						color: #fff;
						text-decoration: none;
					}
				}

				.labelBttn{
					width: 132px;
					font-family: 'Helvetica Bold Condensed', sans-serif;
					@include smoothFont();
					line-height: 42px;
					font-size: 17px;
					@include bgGradientRed();
					margin-right: 20px;
				}
				.iconBttn{
					width: 36px;
					margin-left: 10px;

					a{
						width: 100%;
						height: 100%;

						i{
							display: block;
							width: 100%;
							height: 100%;
							@include roundBorder(3px);
						}
					}
				}
			}
		}

		#storyWrapper{
			min-height: 910px;

			.mbrt-pagination{
				width: 90px;
			}

			.pageSlider{
				.slide-0{
					font-family: 'Helvetica Light Condensed', sans-serif;
					@include smoothFont();

					.letterBox{
						position: absolute;
						width: 630px;
						height: 720px;
						margin: auto;
						top: 150px;
						left: 0; right: 0;
						margin-bottom: 50px;
						color: #fff;

						.letterTop{
							position: relative;
							width: 100%;
							height: 170px;
							text-align: center;
							border-bottom: 1px solid #fff;
							@include boxFit();

							.letterLogo{
								position: relative;
								width: 100%;
								height: 80px;
								margin-bottom: 20px;
								float: left;

								img{
									position: absolute;
									width: 80px;
									height: 75px;
									margin: auto;
									left: 0; right: 0;
								}
							}

							.letterTitle{
								position: relative;
								width: 100%;
								height: 50px;
								line-height: 50px;
								float: left;

								h2{
									margin: 0;
									padding: 0;
									font-size: 35px;
								}
							}
						}

						.letterBody{
							@include boxFit();
							padding: 0 70px;
							text-align: justify;

							p{
								font-size: 18px;

								.trademark{
									font-size: 14px;
								}
							}

							.boldie{
								font-family: 'Helvetica Bold Condensed', sans-serif;
								font-weight: bold;
							}
						}
					}
				}

				.slide-1{
					background-image: url('../img/bgs/bg_braing.jpg');
					background-position: center center;
					background-repeat: no-repeat;
					background-size: cover;

					.philoBox{
						position: absolute;
						width: 300px;
						height: 230px;
						left: 70px;
						top: 180px;
						text-align: center;
						@include smoothFont();

						.philoTitle{
							position: relative;
							width: 100%;
							height: 35px;
							margin-bottom: 30px;
							font-family: 'Helvetica Light Condensed', sans-serif;
							font-weight: lighter;
							border-bottom: 1px solid #000;
							@include boxFit();

							h2{
								margin: 0;
								padding: 0;
								font-size: 24px;
								letter-spacing: 7px;
							}
						}

						.philoBlock{
							position: relative;
							width: 100%;
							text-transform: uppercase;

							.line-1, .line-2, .line-3{
								font-family: 'Helvetica Light Condensed', sans-serif;
								font-weight: lighter;
								white-space: nowrap;
							}

							.line-4{
								font-family: 'Helvetica Bold Condensed', sans-serif;
								font-weight: bolder;
								white-space: nowrap;
							}

							.line-2, .line-4{
								color: $mainRed;
							}

							.line-1{font-size: 40px; height: 45px;}
							.line-2{font-size: 74px; height: 55px; line-height: 80px;}
							.line-3{font-size: 26px; height: 40px; line-height: 50px;}
							.line-4{font-size: 28px; height: 30px; line-height: 30px;}
						}
					}
				}

				.slides{
					@include transitions(all, 0.5s, ease-out);
				}
			}
		}

		#doWrapper{
			min-height: 800px;

		    .slidesjs-pagination{
		    	width: 180px;
		    }

		    .pageSlider{
		    	.slides{
		    		.letterBox{
		    			position: absolute;
		    			width: 900px;
		    			height: 650px;
		    			margin: auto;
		    			top: 200px;
		    			left: 0; right: 0;
		    			text-align: center;
		    			color: #fff;

		    			.letterTop{
		    				position: relative;
		    				width: 100%;
		    				height: 210px;
		    				border-bottom: 1px solid #fff;

		    				.letterLogo{
		    					position: relative;
		    					width: 100%;
		    					height: 150px;
		    					margin-bottom: 10px;

		    					img{
		    						position: absolute;
			    					width: 150px;
			    					height: 140px;
			    					margin: auto;
			    					left: 0; right: 0;
			    					@include heartBeating();
			    				}
		    				}

		    				.letterTitle{
								position: relative;
								width: 100%;
								height: 50px;
								font-family: 'Helvetica Light Condensed', sans-serif;
								@include smoothFont();

								h2{
									margin: 0;
									padding: 0;
									font-size: 38px;
									font-weight: 300;
								}
		    				}
		    			}

		    			.letterBody{
		    				margin-top: 80px;
		    				@include smoothFont();

		    				p{
		    					margin: 0;
		    					padding: 0;
		    					white-space: nowrap;

		    					.medium{
		    						font-family: 'Helvetica Medium 65', sans-serif;
		    						font-weight: 500;
		    					}
		    					.boldie{
		    						font-family: 'Helvetica Bold 75';
		    						font-weight: bold;
		    					}
								.black{
									font-family: 'Helvetica Black 95', sans-serif;
									font-weight: 900;
								}
		    					.uppC{
		    						text-transform: uppercase;
		    					}
		    				}

		    				.thinline{
		    					font-family: 'Helvetica Thin 35', sans-serif;
		    					font-weight: 100;
		    				}
		    				.boldline{
		    					font-family: 'Helvetica Medium 65', sans-serif;
	    						font-weight: 500;
		    				}
		    			}
		    		}
		    	}

		    	.slide-0{
		    		.letterBox{
		    			.letterBody{
		    				.line-0{font-size: 45px; height: 41px;}
		    				.line-1{font-size: 57px; height: 54px;}
		    				.line-2{font-size: 50px; height: 50px;}
		    				.line-3{font-size: 57px;}
		    			}
		    		}
		    	}

		    	.slide-1{
		    		.letterBox{
		    			.letterBody{
		    				.line-0{
		    					height: 48px;
		    					font-size: 34px;

		    					.black{font-size: 52px;}
		    					.uppC{font-size: 45px;}
		    				}

		    				.line-1{
		    					font-size: 56px;

		    					.medium{
		    						font-size: 55px;
		    					}
		    				}
		    			}
		    		}
		    	}

		    	.slide-2{
		    		.letterBox{
		    			.letterBody{
		    				.line-0{font-size: 40px; height: 43px;}
		    				.line-1{font-size: 59px; height: 70px;}
		    				.line-2{font-size: 47px; height: 64px;}
		    				.line-3{font-size: 41.5px;}
		    			}
		    		}
		    	}

		    	.slide-3{
		    		.letterBox{
		    			.letterBody{
		    				.line-0{font-size: 76px; height: 72px;}
		    				.line-1{font-size: 46px; height: 50px; font-family: 'Helvetica Roman Regular', sans-serif;}
		    				.line-2{font-size: 45px; }
		    			}
		    		}
		    	}
		    }
		}

		#servicesWrapper{

		    .mapWrapper{
		    	position: absolute;
		    	width: 740px;
		    	height: 500px;
		    	margin: auto;
		    	top: 250px;
		    	left: 80px; right: 0;
		    	margin-bottom: 100px;
		    	color: #fff;
		    	font-family: 'Helvetica Thin 35', sans-serif;
		    	font-weight: 100;

		    	.mapCenter{
		    		position: absolute;
		    		width: 410px;
		    		height: 115px;
		    		margin: auto;
		    		left: 0; right: 0;
		    		top: 0; bottom: 0;
		    	}

		    	.mapUnits{
		    		.units{
		    			position: absolute;
		    			margin: auto;
		    			background-image: url('../img/sprites/map_sprites.png');
		    			background-repeat: no-repeat;

		    			.circled{
			    			position: absolute;
			    			margin: auto;
			    			@include roundBorder(50%);
			    			width: 120px;
			    			height: 120px;
			    			display: table;

			    			p{
			    				margin: 0;
			    				padding: 0;
			    				display: table-cell;
			    				vertical-align: middle;
			    				text-align: center;
			    				font-size: 15px;
			    			}
			    		}
		    		}

		    		.unit-1{
		    			width: 160px;
		    			height: 160px;
		    			top: 20px; left: 40px;
		    			background-position: -10px -10px;

		    			.circled{
		    				top: 3px; left: 3px;
		    			}
		    		}
		    		
		    		.unit-2{
		    			width: 190px;
		    			height: 190px;
		    			top: 0; left: 0; right: 0;
		    			background-position: -200px -10px;

		    			.circled{
		    				top: 5px; left: 5px; right: 0;
		    			}
		    		}
		    		
		    		.unit-3{
		    			width: 150px;
		    			height: 150px;
		    			top: 20px; right: 30px;
		    			background-position: -400px -10px;

		    			.circled{
		    				top: 3px; right: 2px;
		    			}
		    		}
		    		
		    		.unit-4{
		    			width: 150px;
		    			height: 150px;
		    			bottom: 50px; right: 10px;
		    			background-position: -400px -170px;

		    			.circled{
		    				bottom: 0; right: 5px;
		    			}
		    		}
		    		
		    		.unit-5{
		    			width: 190px;
		    			height: 190px;
		    			bottom: -20px; left: 40px; right: 0;
		    			background-position: -200px -210px;

		    			.circled{
		    				bottom: -5px; left: 0; right: 0;
		    			}
		    		}
		    		
		    		.unit-6{
		    			width: 180px;
		    			height: 180px;
		    			bottom: 0px; left: 30px;
		    			background-position: -10px -360px;

		    			.circled{
		    				bottom: 0; left: 5px;
		    			}
		    		}
		    		
		    		.unit-7{
		    			width: 150px;
		    			height: 150px;
		    			top: 0; bottom: 0; left: 0;
		    			background-position: -40px -200px;

		    			.circled{
		    				top: 0; bottom: 0; left: 5px;
		    			}
		    		}
		    	}
		    }
		}

		#toolsWrapper{

			.toolsBox{
				position: absolute;
				width: 480px;
				height: 490px;
				margin: auto;
				left: 0; right: 0;
				top: 100px;
				bottom: 0;

				.toolsTitle{
					position: relative;
					width: 100%;
					height: 50px;
					margin-left: 8px;
					margin-bottom: 55px;

					h1{
						margin: 0;
						font-family: 'Helvetica Medium Condensed', sans-serif;
						font-weight: 500;
						font-size: 60px;
						@include smoothFont();
					}
				}

				.toolsList{
					position: relative;
					width: 100%;
					line-height: 24px;

					h3, h5, ol{
						margin: 0;
						padding: 0;
					}

					.blockTitle{
						font-family: 'Helvetica Medium Condensed';
						font-weight: 500;
						font-size: 23px;
						@include smoothFont();
					}

					.blockSubtitle{
						font-family: 'Helvetica Light Condensed';
						font-weight: 300;
						font-size: 23px;
						@include smoothFont();
						font-style: italic;
					}

					.blockList{
						margin-bottom: 10px;
						font-family: 'Helvetica Light Condensed';
						font-weight: 300;
						@include smoothFont();

						li{
							font-size: 23px;
							@include boxFit();
							margin-left: 25px;
						}
					}
				}
			}
		}

		#teamWrapper{
			min-height: 920px;

			.mbrt-pagination{
				width: 130px;
			}

			.pageSlider{
				.slide-0, .slide-2{
					color: #fff;
					font-family: 'Helvetica Light Condensed', sans-serif;
					font-weight: 300;
					@include smoothFont();

					.peopleBox{
						position: absolute;
						width: 900px;
						height: 570px;
						margin: auto;
						top: 210px;
						left: 0; right: 0;
						text-align: center;

						.photoHolder{
							@include heartBeating();
						}

						.topText{
							position: relative;
							width: 800px;
							height: 210px;
							margin: auto;

							.introText{
								position: relative;
								width: 100%;
								float: left;
								font-size: 28px;

								.bloodie{
									text-transform: uppercase;
									color: #ff0000;
								}
							}

							.introLogo{
								position: relative;
								width: 100%;
								float: left;
								margin-bottom: 25px;

								img{
									position: relative;
									margin: auto;
									left: 0; right: 0;
									width: 340px;
								}
							}

							.introArea{
								position: relative;
								width: 100%;
								font-size: 32px;
								float: left;
								@include boxFit();
								border-top: 1px solid #fff;
								padding-top: 5px;
							}
						}

						.bottomProfiles{
							position: absolute;
							width: 100%;
							margin: auto;
							left: 0; right: 0;
							bottom: 0;

							.mainProfile{
								position: absolute;
								width: 350px;
								margin: auto;
								left: 0; right: 0;
								bottom: 0;

								.photoHolder{
									position: relative;
									width: 200px;
									height: 200px;
									margin: auto;
									left: 0; right: 0;
									@include roundBorder(50%);
									margin-bottom: 30px;
									border: 2px solid #fff;
									overflow: hidden;

									img{
										width: 100%;
									}
								}
							}

							.secondProfiles{
								position: absolute;
								width: 220px;
								bottom: 0;

								.photoHolder{
									position: relative;
									width: 170px;
									height: 170px;
									margin: auto;
									left: 0; right: 0;
									@include roundBorder(50%);
									margin-bottom: 15px;
									border: 2px solid #fff;
									overflow: hidden;

									img{
										width: 100%;
									}
								}
							}
							.leftProfile{
								left: 0;
							}
							.rightProfile{
								right: 0;
							}

							.name{
								font-size: 24px;
								line-height: 24px;
							}
							.responsibility{
								font-size: 18px;
								line-height: 18px;
							}
						}

						.creativeProfiles{
							position: relative;
							width: 100%;
							height: 400px;
							margin: auto;
							left: 0; right: 0;
							bottom: 0;

							.profiles{
								position: absolute;
								margin: auto;
								width: 170px;
								height: 190px;

								.photoHolder{
									position: relative;
									margin: auto;
									left: 0; right: 0;
									width: 150px;
									height: 150px;
									@include roundBorder(50%);
									border: 2px solid #fff;
									margin-bottom: 15px;
									overflow: hidden;

									img{
										width: 100%;
									}
								}

								.name{
									font-size: 24px;
									line-height: 24px;
								}
								.responsibility{
									font-size: 18px;
									line-height: 18px;
								}
							}

							.profile-1{left: 0;}
							.profile-2{left: 20%;}
							.profile-3{left: 0; right: 0;}
							.profile-4{right: 20%;}
							.profile-5{right: 0;}

							.profile-up{top: 0;}
							.profile-down{bottom: 0;}
						}
					}
				}

				.slide-1{
					background-color: #fff;
					color: #000;

					.heartsWrapper{
						position: absolute;
						width: 1000px;
						height: 440px;
						margin: auto;
						left: 0; right: 0;
						top: 260px;

						.heartsTitle{
							position: relative;
							float: left;
							width: 100%;
							height: 38px;
							text-align: center;
							font-family: 'Helvetica Light Condensed', sans-serif;
							font-weight: 300;
							font-size: 42px;

							.boldie{
								font-family: 'Helvetica Medium Condensed', sans-serif;
								font-weight: 500;
							}
							.uppC{
								text-transform: uppercase;
							}
						}

						.heartsBox{
							position: relative;
							display: table;
							width: 100%;
							float: left;
							margin: 0;
							margin-top: 90px;

							.heart{
								position: relative;
								display: table-cell;
								float: left;
								width: 150px;
								height: 254px;
								margin: 0 8px;

								@include heartBeating();
							}
						}
					}
				}

				.slides{
					@include transitions(all, 0.5s, ease-out);
				}
			}
		}

		#lovemarkWrapper{

			.mbrt-pagination{
				width: 180px;
			}

			.pageSlider{
				min-height: 840px;

				.slide-0{
					.sectionTitle{
						position: absolute;
						width: 615px;
						height: 110px;
						margin: auto;
						top: 0; bottom: 0;
						left: 0; right: 0;
						text-align: center;
						h1{
							font-size: 80px;
							font-family: 'Helvetica Medium Condensed';
							font-weight: 500;
							@include smoothFont();

							.beating{
								@include heartBeating();
								margin: 0 0 0 20px;
							}

							div{
								position: relative;
								float: left;
							}
						}
					}
				}

				.slide-1{

					.whyBox{
						position: absolute;
						width: 750px;
						height: 470px;
						margin: auto;
						left: 0; right: 0;
						top: 260px;
						text-align: left;

						.quoteBox{
							position: relative;
							float: left;
							width: 100%;
							height: 75px;
							margin-bottom: 10px;

							h1{
								margin: 0;
								font-family: 'Gill';
								font-weight: 700;
								font-size: 47px;
								color: #7f7f7f;

								.redie{
									color: $mainRed;
								}
							}
						}

						.questionBox{
							position: relative;
							float: left;
							width: 100%;
							height: 40px;
							margin-bottom: 30px;

							h2{
								margin: 0;
								@include smoothFont();
								font-family: 'Helvetica Light Condensed';
								font-weight: 500;
								font-style: italic;
								font-size: 32px;
							}
						}

						.comparisonBox{
							position: relative;
							float: left;
							width: 100%;

							.column{
								position: relative;
								width: 50%;
								float: left;
								font-family: 'Helvetica Light Condensed';
								font-weight: 500;

								.headRow{
									text-transform: uppercase;

									h3{
										margin: 0;
										font-size: 28px;
										@include smoothFont();
									}
								}

								.bodyRows{
									@include smoothFont();
									font-size: 24px;
									line-height: 28px;
								}
							}

							.leftColumn{
								.headRow{
									color: #7f7f7f;
								}
							}
							.rightColumn{
								@include boxFit();
								padding-left: 60px;

								.headRow{
									color: #ff0000;
								}
							}
						}
					}
				}

				.slide-2{

					.recipeBox{
						position: absolute;
						width: 780px;
						height: 470px;
						margin: auto;
						left: 0; right: 0;
						top: 295px;
						text-align: left;

						.recipeTitle{
							position: relative;
							width: 100%;
							float: left;

							h1{
								margin: 0;
								margin-bottom: 30px;
								font-family: 'Helvetica Light Condensed', sans-serif;
								font-weight: 300;
								font-size: 49px;
								@include smoothFont();

								.boldie{
									font-family: 'Helvetica Bold Condensed', sans-serif;
									font-weight: bold;
								}
							}
						}

						.recipeDescription{
							position: relative;
							width: 100%;
							float: left;

							.recipe{
								position: relative;
								width: 100%;
								height: 55px;
								line-height: 55px;
								float: left;
								margin-bottom: 30px;

								.ingredient{
									position: relative;
									float: left;
									@include boxFit();
									padding-right: 20px;
									font-family: 'Helvetica Bold Condensed', sans-serif;
									font-weight: bold;
									font-size: 40px;
								}
								.description{
									position: relative;
									float: left;
									@include boxFit();
									font-family: 'Helvetica Light Condensed', sans-serif;
									font-weight: 300;
									font-size: 33px;
									@include smoothFont();
									white-space: nowrap;
								}
							}

							.recipe-3{
								.description{
									line-height: 38px;
									padding-top: 11px;
								}
							}
						}
					}
				}

				.slide-3{
					.promiseBox{
						position: absolute;
						width: 700px;
						height: 470px;
						margin: auto;
						left: 0; right: 0;
						top: 275px;
						text-align: left;

						.questionBox, .promises{
							position: relative;
							width: 100%;
							float: left;
							margin-bottom: 30px;
						}

						.questionBox{
							font-family: 'Helvetica Medium Condensed';
							font-weight: 500;
							@include smoothFont();
							font-style: italic;
							font-size: 40px;
						}

						.promises{
							.concept{
								position: relative;
								float: left;
								width: 100%;
								height: 30px;
								line-height: 30px;
								float: left;
								font-family: 'Helvetica Bold Condensed';
								font-weight: 700;
								font-size: 36px;
							}

							.description{
								position: relative;
								float: left;
								width: 100%;
								font-family: 'Helvetica Light Condensed';
								font-weight: 300;
								@include smoothFont();
								font-size: 22px;
							}
						}
					}
				}

				.slides{
					@include transitions(all, 0.5s, ease-out);
				}
			}
		}

		#clientsWrapper{
			.clientsBox{
				position: absolute;
				width: 1000px;
				height: 620px;
				margin: auto;
				left: 0; right: 0;
				top: 220px;
				margin-bottom: 50px;
				text-align: center;

				.clientsTitle{
					position: relative;
					float: left;
					width: 100%;
					height: 84px;
					line-height: 84px;
					margin-bottom: 50px;

					h1{
						margin: 0;
						font-family: 'Helvetica Light Condensed';
						font-weight: 300;
						font-size: 32px;
						@include smoothFont();

						img{
							width: 300px;
							margin-top: -10px;
						}
					}
				}

				.clientsGrid{
					position: relative;
					float: left;
					width: 100%;
					height: 450px;

					.rows{
						position: relative;
						float: left;
						width: 100%;
						height: 80px;

						.cell{
							position: relative;
							float: left;
							height: 100%;
							@include boxFit();

							img{
								position: absolute;
								margin: auto;
								top: 0; bottom: 0; left: 0; right: 0;
								height: 70px;
								@include heartBeating();
							}

							.large-logos{
								width: 150px;
								height: auto;
							}
						}

						.five-cell{
							width: 20%;
						}
						.four-cell{
							width: 25%;
						}
					}
				}

				.clientsBye{
					position: relative;
					float: left;
					width: 100%;
					height: 40px;
					font-family: 'Helvetica Light Condensed';
					font-weight: 300;
					@include smoothFont();
					font-size: 32px;
				}
			}
		}

		#contactWrapper{

			.contactBox{
				position: absolute;
				width: 1000px;
				height: 700px;
				margin: auto;
				left: 0; right: 0;
				top: 220px;

				.topInfo{
					position: relative;
					width: 100%;
					height: 320px;
					float: left;
					margin-bottom: 20px;

					.mapContainer{
						position: absolute;
						margin: auto;
						left: 0; right: 50px;
						width: 320px;
						height: 320px;
						border: 1px solid #fff;

						.iframeHolder{
							position: absolute;
							margin: auto;
							top: 0; bottom: 0; left: 0; right: 0;
							width: 300px;
							height: 300px;
						}
					}

					.dataContainer{
						position: absolute;
						right: 0;
						width: 300px;
						height: 320px;
						text-align: right;
						font-family: 'Helvetica Light Condensed';
						font-weight: 300;
						@include smoothFont();

						.dataTitle{
							color: $mainRed;
							border-bottom: 1px solid $mainRed;
							font-size: 60px;
							height: 65px;
							margin-top: 35px;
							margin-bottom: 30px;
						}

						.dataAddress{
							color: #fff;
							font-size: 22px;
							line-height: 23px;

							.address, .mail{
								margin-bottom: 20px;

								.boldie{
									font-family: 'Helvetica Bold Condensed';
									font-weight: 700;
								}
							}
						}
					}
				}

				.bottomForm{
					position: relative;
					width: 100%;
					float: left;
					color: #fff;
					font-family: 'Helvetica Light Condensed';
					font-weight: 300;
					@include smoothFont();

					.formCTA{
						position: relative;
						float: left;
						width: 50%;
						height: 44px;
						font-size: 38px;
						margin-bottom: 30px;
					}

					#lbForm{
						position: relative;
						float: left;
						width: 100%;

						.column{
							position: relative;
							float: left;
							width: 50%;

							input, textarea{
								@include roundBorder(5px);
							}
						}

						.leftColumn{
							.labels{
								position: relative;
								width: 100%;
								height: 35px;
								float: left;
								margin-bottom: 20px;

								div{
									position: relative;
									float: left;
									width: 90px;
									height: 35px;
									line-height: 39px;
									font-size: 23px;
								}

								input{
									position: relative;
									float: left;
									width: 350px;
									height: 35px;
									border: 1px solid #fff;
									@include boxFit();
									background: none;
								}
							}
						}

						.rightColumn{
							.label{
								position: relative;
								width: 100%;
								margin-top: -32px;
								font-size: 23px;

								div{}

								textarea{
									width: 100%;
									height: 200px;
									@include boxFit();
									color: #626262;
									border: none;
								}

								input{
									float: right;
									width: 100px;
									height: 40px;
									line-height: 35px;
									@include boxFit();
									padding: 5px 10px;
									border: none;
									text-align: center;
									background: #fff;
									color: #626262;

									&:hover{
										margin-top: 1px;
										@include bgGradientRed();
										color: #fff;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

// Sprites
	.spriteRS{
		background-image: url('../img/sprites/nav_sprites.png');
		background-repeat: no-repeat;
	}
	.sprite-Fb{
		background-position: -95px -5px;
	}
	.sprite-Tw{
		background-position: -95px -50px;
	}


	.spriteHeart{
		background-image: url('../img/sprites/heart_sprites.png');
		background-repeat: no-repeat;
	}
	.sprite-h1{
		background-position: -10px -10px;
	}
	.sprite-h2{
		background-position: -170px -10px;
	}
	.sprite-h3{
		background-position: -330px -10px;
	}
	.sprite-h4{
		background-position: -490px -10px;
	}
	.sprite-h5{
		background-position: -650px -10px;
	}
	.sprite-h6{
		background-position: -810px -10px;
	}


// SlidesJS optional styles
	.slidesjs-navigation {
        position: absolute;
        width: 40px;
        height: 40px;
        @include roundBorder(50%);
        margin: auto;
        top: 40px; bottom: 0;
        z-index: 1000;
        background-image: url('../img/sprites/nav_sprites.png');
        background-repeat: no-repeat;
    }

    .slidesjs-previous {
      left: 40px;
      background-position: -5px -50px;
    }

    .slidesjs-next {
      right: 40px;
      background-position: -50px -50px;
    }

    .slidesjs-pagination {
      position: absolute;
      margin: auto;
      left: 0; right: 0;
      bottom: 45px;
      list-style: none;
      z-index: 1000;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 15px;
    }

    .slidesjs-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-image: url(../img/pagination.png);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -26px
    }

    a:link,
    a:visited {
      color: #333
    }

    a:hover,
    a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }


// SlidesJS Required for responsive

    #slides {
      display: none
    }

    .container {
      margin: 0 auto
    }

    /* For tablets & smart phones */
    @media (max-width: 767px) {
      body {
        padding-left: 20px;
        padding-right: 20px;
      }
      .container {
        width: auto
      }
    }

    /* For smartphones */
    @media (max-width: 480px) {
      .container {
        width: auto
      }
    }

    /* For smaller displays like laptops */
    @media (min-width: 768px) and (max-width: 979px) {
      .container {
        width: 724px
      }
    }

    /* For larger displays */
    @media (min-width: 1200px) {
      .container {
        width: 1170px
      }
    }



// Mbrt Special Slider
	.mbrt-navigation {
        position: absolute;
        width: 40px;
        height: 40px;
        @include roundBorder(50%);
        margin: auto;
        top: 40px; bottom: 0;
        z-index: 1000;
        background-image: url('../img/sprites/nav_sprites.png');
        background-repeat: no-repeat;
    }

    .mbrt-previous {
      left: 40px;
    }

    .mbrt-next {
      right: 40px;
    }



	.mbrt-pagination {
      position: absolute;
      margin: auto;
      left: 0; right: 0;
      bottom: 45px;
      list-style: none;
      z-index: 1000;
    }

    .mbrt-pagination li {
      float: left;
      margin: 0 15px;
    }

    .mbrt-pagination li a {
      display: block;
      width: 13px;
      height: 0;
      padding-top: 13px;
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .mbrt-pagination li a.active,
    .mbrt-pagination li a:hover.active {
      background-position: 0 -13px
    }

    .mbrt-pagination li a:hover {
      background-position: 0 -26px
    }

    .yieldedWrapper{
    	.blackSlide{
    		.mbrt-previous {
		      background-position: -5px -50px;
		    }

		    .mbrt-next {
		      background-position: -50px -50px;
		    }


    		.mbrt-pagination{
		    	li a {
			      background-image: url(../img/pagination.png);
			  	}
		    }
    	}

    	.whiteSlide{
    		.mbrt-previous {
		      background-position: -5px -5px;
		    }

		    .mbrt-next {
		      background-position: -50px -5px;
		    }


		    .mbrt-pagination{
		    	li a {
			      background-image: url(../img/pagination_b.png);
			  	}
		    }
    	}
    }


